<footer class="footer">
  <div class="container-fluid footer-content">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4">
        <h5>Quick Links</h5>
        <ul>
          <li><a routerLink="/home"><i class="fas fa-home"></i> Home</a></li>
          <li><a routerLink="/about"><i class="fas fa-user"></i> About</a></li>
          <li><a routerLink="/no1"><i class="fas fa-images"></i> Portfolio</a></li>
          <li><a routerLink="/ref"><i class="fas fa-book"></i> References</a></li>
          <li><a routerLink="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 text-center">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <div class="footer-logo">
          <img src="images/logo2.jpg" alt="Logo" width="160" height="160">
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4">
        <h5>Subscribe</h5>
        <form>
          <div class="form-group mb-2">
            <input type="email" class="form-control" placeholder="Enter your email">
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2024 The Art of Photography. All Rights Reserved.</p>
    </div>
  </div>
</footer>
