<section class="about-section py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h2 class="about-headline display-3">About me</h2>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
                <img class="img-fluid shadow" loading="lazy" src="/images/about-pic-01.jpg" alt="About Me">
            </div>
            <div class="col-12 col-md-6">
                <div class="text-center text-md-start">
                    <p class="text-block">
                        Hey, welcome to my photography world! 
                        <br>
                        <br>
                        I'm Mustermann M., a passionate photographer who
                        captures the beauty of the moment. For years, I have been exploring the world through my camera,
                        capturing special moments that tell stories and evoke emotions.
                        <br>
                        <br>
                        With my experience in photography, I specialize in capturing the depth of emotions and the magic
                        of the moment.
                        <br>
                        <br>
                        Thank you for visiting.
                        <br>
                        Feel free to contact me. 
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <blockquote class="quote">
                    Photography – is a way to capture a fleeting moment, don't deny yourself this pleasure.
                </blockquote>
            </div>
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6">
                <div class="text-center text-md-start">
                    
                    <p class="text-block text-bottom">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nam porro rem nihil saepe vero pariatur tempora ipsa atque natus.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="img-fluid shadow bottom-content" loading="lazy" src="/images/about-pic-02.jpg" alt="About Me">
            </div>
        </div>
    </div>
</section>