* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
  }

  .p1 {
    position: absolute;
    top: 1%;
    left: 4%;
    color: firebrick;
    font-size: 4vw;
  }

  .p2 {
    position: absolute;
    color: white;
    right: 5%;
    bottom: 7%;
    font-size: 4vw;
  }
}

.hero-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: white;
  opacity: 0.8;
  border: 1px solid black;

  border-radius: 10px;
  padding: 10px;
  color: black;
  width: 15vw;
  font-size: 2vw;
}

.hero-btn:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.home-intro {
  text-align: center;
  color: black;
  margin: 15px auto;
}

.gallery {
  width: 100%;
  /* margin: 0 20px; */
}

.text {
  /* background-image: url("/images/home-background50.png"); */

  background-image: linear-gradient(gray, black);
}

/* .hero-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cadetblue;
  opacity: 0.5;
  border: 1px solid lemonchiffon;
  border-radius: 5px;
  padding: 10px;
  color: lemonchiffon;
  width: 15vw;
  font-size: 2vw;
}

.hero-btn:hover {
  background-color: lemonchiffon;
  border: 1px solid cadetblue;
  color: cadetblue;
} */
