<!--hero section-->

<!--old version-->

<!-- <div class="hero container-fluid">
  <img src="images/hero_mask.jpg" alt="" />
  <p class="p1 animate__animated animate__slideInLeft">
    Make photography an Art
  </p>
  <button class="hero-btn"><a href="#"></a>Contact me</button>
  <p class="p2 animate__animated animate__slideInRight">
    Expand your imagination
  </p>
</div> -->

<!--//////////////////////////////////////////////////////////////////////////////////////////-->
<!--new version-->
<div class="hero container-fluid">
  <img src="images/hero_b_w_people.jpg" alt="" />
  <p class="p1 animate__animated animate__slideInLeft">
    Make photography an Art
  </p>
  <button class="hero-btn animate__animated animate__pulse">
    <a href="#"></a>Contact me
  </button>
  <p class="p2 animate__animated animate__slideInRight">
    Expand your imagination
  </p>
</div>
<!--text statement-->
<div class="container my-4 mx-auto">
  <h2 class="home-intro">I do not take pictures - I shape reality!</h2>
</div>
<!--image gallery-->
<div class="container mx-auto row row-cols-3 row-cols-md-6 mb-4 p-3">
  <div class="gallery-div p-1">
    <a href="images/photography_equipment.jpg"
      ><img src="images/photography_equipment.jpg" alt="" class="gallery"
    /></a>
  </div>
  <div class="gallery-div p-1">
    <img src="images/photographer-shilouetten.jpg" alt="" class="gallery" />
  </div>
  <div class="gallery-div p-1">
    <img src="images/photographer-cliff.jpg" alt="" class="gallery" />
  </div>
  <div class="gallery-div p-1">
    <img src="images/photography_oldwoman.jpg" alt="" class="gallery" />
  </div>
  <div class="gallery-div p-1">
    <img src="images/photography_borealis.jpg" alt="" class="gallery" />
  </div>
  <div class="gallery-div p-1">
    <img src="images/photography-pictures.jpg" alt="" class="gallery" />
  </div>
</div>
<!--end of image gallery-->
