* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
  }

  .p1 {
    position: absolute;
    top: 5%;
    left: 5%;
    color: cadetblue;
    width: 60vw;
    font-size: 4vw;
  }

  .p2 {
    position: absolute;
    color: lemonchiffon;
    right: 5%;
    bottom: 7%;
    font-size: 4vw;
  }
}
